* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}
.top {
    padding-top: 40px;
    padding-bottom: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.header__logo {
    height: 40px;
    width: 137px;
}

.header__nav {
    display: flex;
    gap: 32px;
}

.header__link {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
}

.header__nav a:first-child {
    color: #F25822;
    font-family: Gilroy-SemiBold;
}

.top__content {
    padding: 89px 0 162px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 37px;
}

.top__h1 {
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
}

.top__text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
}

.top__buttons {
    font-family: Gilroy-Bold;
    font-size: 15px;
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 72px;
}

.button__start {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
}

.button__watch {
    color: #AAA;
    border: none;
    background: none;
}

.top__logo {
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
}